.green{
    background: #66FF99;
  }

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    box-shadow: 0px 0 1px 1px white;
  }
  
  .pulse {
    animation: pulse-animation 2s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(133, 237, 92, 0.752);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
        border-radius: 100%;
    }
  }

.contact-container-top {
    background-image: url('./assets/peripherals/bottom-big-layer.png');
    background-position-y: 50%;
}

.map-overlay {
    background-image: url('./assets/peripherals/dot-map.png');
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    width:100%;
    /* border:1px solid red; */
  }

.footer-first {
    background-image: url('./assets/peripherals/bottom-dark-layer.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
}

.project-desc {
  background-image: url('./assets/peripherals/sm-dot.svg');
  background-repeat: no-repeat;
  background-position:bottom right;
  background-size: contain;
}


.tech-stack-icon-conainer {
  background-image: url('./assets/peripherals/dotnlines.svg');
  background-repeat: repeat;
  background-size:contain;
}


/* ANIMATION FOR HAM MENU */
.ham-container {
  position: relative;
  width: 35px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ham-container .line {
  width: 100%;
  height: 3px;
  background-color: var(--dark-txt);
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: absolute;
}

.ham-container .top {
  top: 0;
  transform-origin: left;
}

.ham-container .middle {
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.ham-container .bottom {
  bottom: 0;
  transform-origin: left;
}

.ham-container.open .top {
  transform: rotate(45deg) translate(1px, -4px);
}

.ham-container.open .middle {
  opacity: 0;
}

.ham-container.open .bottom {
  transform: rotate(-45deg) translate(2px, 2px);
}


/* RESPONSIVENESS FOR CODE AND LIVE BUTTON */

@media screen and (max-width: 250px) {
  .code-live-btn-container {
    display: block;

  }
  .code-live-btn-container a{
    display: block;
    width:100%;
    margin:10px 0;
  }
  .apple-heading {
    max-width:100px;
  }
  
}