.fluid-txt-nav-opt{
    font-size:var(--primary-font-size);
}
.fluid-txt-nav-head {
    font-size:var(--max-heading);
}
.intro-info-para {
    font-size: var(--primary-font-size);
}
h1 {
    /* line-height: 30px; */
}